node_modules/
.env
coverage/
coverage.json
.DS_Store

# Hardhat files
cache/
artifacts/

# Foundry: compiler files
cache_forge/
out/

# Foundry: development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

#Certora 
.certora_internal/
