[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/kontrol-cheatcodes"]
	path = lib/kontrol-cheatcodes
	url = https://github.com/runtimeverification/kontrol-cheatcodes
