[profile.default]
evm_version = 'cancun'
src = 'contracts'
out = 'out'
script = 'scripts'
libs = ['node_modules', 'lib']
test = 'test'
cache_path = 'cache_forge'
# solc-version = "0.8.26"
no-match-path = 'test/kontrol/*'
fs_permissions = [
    { access = "read-write", path = "./deploy-config"},
    { access = "read-write", path = "./deploy-artifacts"}
]

[profile.kprove]
src = 'test/kontrol'
out = 'kout'
test = 'test/kontrol'

[fmt]
line_length = 120
multiline_func_header = 'params_first_multi'

[etherscan]
mainnet = { key = "${ETHERSCAN_MAINNET_KEY}" }
holesky = { key = "${ETHERSCAN_MAINNET_KEY}", chain = "17000" }
