[profile.default]
evm_version = 'cancun'
src = 'contracts'
out = 'out'
script = 'scripts'
libs = ['node_modules', 'lib']
test = 'test'
cache_path = 'cache_forge'
# solc-version = "0.8.26"
optimizer = true
no-match-path = 'test/kontrol/*'
fs_permissions = [
    { access = "read", path = "./test/regressions" },
    { access = "read-write", path = "./deploy-config" },
    { access = "read-write", path = "./deploy-artifacts" },
]
gas_limit = "18446744073709551615"
memory_limit = 17179869184 # 16gb

ignored_warnings_from = ["test/kontrol"]

[profile.kprove]
src = 'test/kontrol'
out = 'kout'
test = 'test/kontrol'

[fmt]
line_length = 120
multiline_func_header = 'params_first_multi'

[etherscan]
mainnet = { key = "${ETHERSCAN_API_KEY}" }
holesky = { key = "${ETHERSCAN_API_KEY}", chain = "17000" }
hoodi = { key = "${ETHERSCAN_API_KEY}", chain = "560048", url = "https://api-hoodi.etherscan.io/api" }
